<h1>Listando câmeras exclusivas</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Câmera ID</th>
    <th>Servidor</th>
    <th></th>
    <th></th>
  </tr>

  <% @exclusive_cameras.each do |exclusive_camera| %>
      <tr>
        <td><%= exclusive_camera.label %></td>
        <td><%= exclusive_camera.camera_id %></td>
        <td><%= Server::find_by_id(exclusive_camera.server_id).label %></td>
        <td><%= link_to 'Editar', edit_exclusive_camera_path(exclusive_camera) %></td>
        <td><%= link_to 'Apagar', exclusive_camera, method: :delete, data: {confirm: 'Tem certeza?'} %></td>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'Criar nova câmera exclusiva', new_exclusive_camera_path %>
