<h1>Listing exclusive_cameras</h1>

<table>
  <tr>
    <th>Label</th>
    <th>Server</th>
    <th>Camera</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @exclusive_cameras.each do |exclusive_camera| %>
      <tr>
        <td><%= exclusive_camera.label %></td>
        <td><%= exclusive_camera.server_id %></td>
        <td><%= exclusive_camera.camera_id %></td>
        <td><%= link_to 'Show', exclusive_camera %></td>
        <td><%= link_to 'Edit', edit_exclusive_camera_path(exclusive_camera) %></td>
        <td><%= link_to 'Destroy', exclusive_camera, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'New Exclusive camera', new_exclusive_camera_path %>
