<% if flash[:alert] %>
    <p id="notice"><%= flash[:alert] %></p>
<% end %>
<%= form_tag do %>
    <table id="home_table">
      <tr>
        <td>
          Usuário:
        </td>
        <td>
          <%= text_field_tag :username, params[:username] %>
        </td>
      </tr>
      <tr>
        <td>
          Senha:
        </td>
        <td>
          <%= password_field_tag :password, params[:password] %>
        </td>
      </tr>
    </table>
    <%= submit_tag "Logar" %>
<% end %>