<table id="admin_table" border="1" style="text-align: center;">
  <tr>
    <th><%= link_to 'Lista de Armazéns', warehouses_path %></th>
    <th><%= link_to 'Lista de Servidores', servers_path %></th>
    <th><%= link_to 'Lista de Câmeras', cameras_path %></th>
  </tr>

  <% Warehouse::all.each do |warehouse| %>
      <tr>
        <td rowspan="<%= warehouse.element_count %>">
          <%= link_to warehouse.label, warehouse %>
          <br>

          <div style="font-size: smaller; font-weight: bold;">
            <%= link_to 'Visualizar', home_path(w: warehouse.label[warehouse.label.index("\s").to_i + (warehouse.label =~ /\s/ ? 1 : 0)..-1].downcase, u: 'ib', token: 'ibtech') %>
          </div>
        </td>
        <% warehouse.servers.each_with_index do |server, server_index| %>
            <% if server_index.zero? %>
                <td rowspan="<%= server.element_count %>">
            <% else %>
                <tr>
                  <td rowspan="<%= server.element_count %>">
            <% end %>
            <%= link_to server.label, server %>
            </td>
            <% server.cameras.each_with_index do |camera, camera_index| %>
                <% if camera_index.zero? %>
                    <td>
                <% else %>
                    <tr>
                      <td>
                <% end %>
                <%= link_to camera.label, camera %>
                </td>
                <% unless camera_index.zero? %>
                    </tr>
                <% end %>
            <% end %>
        <% end %>
  <% end %>
</table>
<br/>
<table id="admin_table" border="1" style="text-align: center;">
  <tr>
    <th><%= link_to 'Lista de Câmeras Exclusivas', exclusive_cameras_path %></th>
  </tr>
  <% ExclusiveCamera::all.each do |ex_camera| %>
      <tr>
        <td>
          <%= ex_camera.label %>
        </td>
      </tr>
  <% end %>
</table>

<% if User::find_by_id(session[:user_id]).username == 'Administrador' %>
    <br>
    <table id="admin_table" border="1" style="text-align: center;">
      <tr>
        <th><%= link_to 'Lista de Usuários', users_path %></th>
      </tr>
      <% User::all.each do |user| %>
          <tr>
            <td>
              <%= link_to user.username, user %>
            </td>
          </tr>
      <% end %>
    </table>
<% end %>
<br>
<div style="text-align: center">
  <%= button_to 'Deslogar', logout_path, method: :delete %>
</div>
