<h1>Listing servers</h1>

<table style="text-align: center;">
  <tr>
    <th>Label</th>
    <th>Address</th>
    <th>Username</th>
    <th>Warehouse</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @servers.each do |server| %>
      <tr>
        <td><%= server.label %></td>
        <td><%= server.address %></td>
        <td><%= server.username %></td>
        <td><%= Warehouse::find_by_id(server.warehouse_id).label rescue 'NIL' %> (#<%= server.warehouse_id %>)</td>
        <td><%= button_to 'Show', server, method: :get %></td>
        <td><%= button_to 'Edit', edit_server_path(server), method: :get %></td>
        <td><%= button_to 'Destroy', server, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
</table>

<br/>

<table>
  <tr>
    <td>
      <%= button_to 'New Server', new_server_path, method: :get %>
    </td>
    <td>
      <%= button_to 'Return', admin_path, method: :get %>
    </td>
  </tr>
</table>
