<p id="notice"><%= notice %></p>

<p>
  <b>Label:</b>
  <%= @server.label %>
</p>

<p>
  <b>Address:</b>
  <%= @server.address %>
</p>

<p>
  <b>Username:</b>
  <%= @server.username %>
</p>

<p>
  <b>Password digest:</b>
  <%= @server.password_digest %>
</p>

<p>
  <b>Warehouse:</b>
  <%= @server.warehouse_id %>
</p>


<%= link_to 'Edit', edit_server_path(@server) %> |
<%= link_to 'Back', servers_path %>
