<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @server.label %>
</p>

<p>
  <b>Endereço IP:</b>
  <%= @server.address %>
</p>

<p>
  <b>Usuário:</b>
  <%= @server.username %>
</p>

<p>
  <b>Senha:</b>
  <%= @server.password %>
</p>

<p>
  <b>Armazém:</b>
  <%= Warehouse::find_by_id(@server.warehouse_id).label rescue 'NIL' %> (#<%= @server.warehouse_id %>)
</p>

<table>
  <tr>
    <td>
      <%= button_to 'Editar', edit_server_path(@server), method: :get %>
    </td>
    <td>
      <%= button_to 'Voltar', servers_path, method: :get %>
    </td>
  </tr>
</table>
