<p id="notice"><%= notice %></p>

<p>
  <b>Label:</b>
  <%= @server.label %>
</p>

<p>
  <b>Address:</b>
  <%= @server.address %>
</p>

<p>
  <b>Username:</b>
  <%= @server.username %>
</p>

<p>
  <b>Password:</b>
  <%= @server.password %>
</p>

<p>
  <b>Warehouse:</b>
  <%= Warehouse::find_by_id(@server.warehouse_id).label %> (#<%= @server.warehouse_id %>)
</p>

<table>
  <tr>
    <td>
      <%= button_to 'Edit', edit_server_path(@warehouse), method: :get %>
    </td>
    <td>
      <%= button_to 'Back', servers_path, method: :get %>
    </td>
  </tr>
</table>
