<h3>Listando usuários</h3>

<table>
  <tr>
    <th>Nome</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= link_to 'Mostrar', user %></td>
        <td><%= link_to 'Editar', edit_user_path(user) %></td>
        <td><%= link_to 'Apagar', user, method: :delete, data: {confirm: 'Tem certeza?'} %></td>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'Novo usuário', new_user_path %>
