<div id="video_object" style='text-align: center; padding: 5px'>

  <%= button_to 'Monitoramento',
                home_path(session: 'live', w: params[:w], u: params[:u], token: params[:token]),
                disabled: live?,
                id: live? ? 'selected' : '' %>
  <%= button_to 'Reprodução de Vídeo',
                home_path(session: 'playback', w: params[:w], u: params[:u], token: params[:token]),
                disabled: playback?,
                id: playback? ? 'selected' : '' %>

  <object classid="clsid:EAFD7012-D574-4C21-BB0B-EF6A7A96E70C"
          codebase='XDigi<%= params[:session].capitalize || 'Live' %>.ocx#Version=6,6,1,0'
          width='780'
          height='600'
          align='center'
          hspace='0'
          vspace='0'>
    <param name="ConnectionString"
           value="NA:'<%= @server.label %>',AD:'<%= @server.address %>',PO:8600,US:cmVjZWl0YQ==,PW:MTIz,CM:2;">
    <param name="LanguageID"
           value="PT-BR">
    <p>
      <strong>Atenção!</strong><br>Os Plugins Digifort não foram encontrados no seu computador.
      Instale os plugins para poder realizar funções de monitoramento e reprodução de vídeo.<br>
      Clique <a href="Plugins.exe">aqui</a> para baixar a instalaço completa dos plugins.
      Ao clicar na instalação do plugin, uma tela do seu browser irá abrir solicitando uma confirmação de que você
      deseja baixar o arquivo especificado. Clique em "EXECUTAR" para executar a instalação diretamente do seu browser.
    </p>
  </object>
</div>
