<p>Welcome to the Video Server 3 development.</p>
<% #noinspection RubyUnlessWithElseInspection
   unless Warehouse::all.empty? %>
    <table style="width: 100%; border-style: solid; border-width: 1px;">
      <tr>
        <th><%= link_to 'Warehouse list', warehouses_path %></th>
        <th><%= link_to 'Server list', servers_path %></th>
        <th><%= link_to 'Camera list', cameras_path %></th>
        <th><%= link_to 'User list', users_path %></th>
      </tr>
      <tr>
        <td>
          <ul style="list-style: katakana;">
            <% Warehouse::all.each do |warehouse| %>
                <li><%= warehouse.label %></li>
            <% end %>
          </ul>
        </td>
        <td>
          <% #noinspection RubyUnlessWithElseInspection
             unless Server::all.empty? %>
              <ul style="list-style: katakana;">
                <% Server::all.each do |server| %>
                    <li><%= server.label %></li>
                <% end %>
              </ul>
          <% else %>
              Empty table!
          <% end %>
        </td>
        <td>
          <% #noinspection RubyUnlessWithElseInspection
             unless Camera::all.empty? %>
              <ul style="list-style: katakana;">
                <% Camera::all.each do |camera| %>
                    <li><%= camera.label %></li>
                <% end %>
              </ul>
          <% else %>
              Empty table!
          <% end %>
        </td>
        <td>
          <% #noinspection RubyUnlessWithElseInspection
             unless User::all.empty? %>
              <ul style="list-style: katakana;">
                <% User::all.each do |user| %>
                    <li><%= user.username %></li>
                <% end %>
              </ul>
          <% else %>
              Empty table!
          <% end %>
        </td>
      </tr>
    </table>
<% else %>
    Database is empty!
<% end %>
