<script type="text/javascript">

    function generate() {
        try {
            var recorder_factory = new ActiveXObject("ADSDK.RecorderFactory");
            if (recorder_factory != null)
                alert("Successfully created RecorderFactory object!");
            else
                alert("Error when creating RecorderFactory object!");
        }
        catch (e) {
            alert(e);
        }
    }

    function setStyle(id) {
        //window.alert(id);
        document.getElementById(id).parentNode.style.borderWidth = '5px';
        document.getElementById(id).parentNode.style.borderStyle = 'Solid';
        document.getElementById(id).parentNode.style.borderColor = 'yellow';
    }

    function unsetStyle(id) {
        document.getElementById(id).parentNode.style.borderWidth = '5px';
        document.getElementById(id).parentNode.style.borderStyle = 'Solid';
        document.getElementById(id).parentNode.style.borderColor = 'black';
    }
</script>

<table id="home_table" border='1'>
  <tr>
    <td>
      <button id="live">Live View</button>
      <br>
      <button id="playback">Playback</button>
    </td>
    <td>
      <button id="grid_1">1x1</button>
    </td>
    <td>
      <button id="grid_4">2x2</button>
    </td>
    <td>
      <button id="grid_9">3x3</button>
    </td>
    <td>
      <button id="grid_16">4x4</button>
    </td>
    <td>
      <button id="grid_1+12">1+12</button>
    </td>
    <td>
      <button id="grid_1+8">1+8</button>
    </td>
  </tr>
  <tr>
    <td>
      <ol class="tree">

        <% @warehouse = Warehouse::all.first unless @warehouse %>

        <% @warehouse.servers.each do |server| %>
            <li>
              <label for="<%= server.id %>"><%= server.label %></label> <input type="checkbox" id="<%= server.id %>>"/>
              <ol>
                <% server.cameras.each do |camera| %>
                    <li class="file"><a href="#"><%= camera.label %></a></li>
                <% end %>
              </ol>
            </li>
        <% end %>
      </ol>
    </td>
    <td colspan="6" rowspan="2">
      <div id="video_object" style='text-align: center; padding: 5px'>
        <object classid='clsid:37BEA57F-131B-49C1-B6FB-6D9E78F41B19'
                width='320'
                height='240'
                id='AxVideoControl'
                EnableJavaScript='true'
                codebase='ADSDK.IVideoControl'>
          <p>Plugin American Dynamics SDK não foi encontrado.<br/>
            <a href='vs3_plugin_setup.zip'>Clique aqui</a> para instalá-lo.</p>
        </object>
        <br>
        <!--AxVideoControlStart('1', '201.64.223.142', 'admin', 'ibtech')-->
        <button id="select" onclick="generate()">Selecionar</button>
        <button id="clear" onclick="unsetStyle(this.id)">Apagar</button>
        <script type="text/vbscript">
          <!--
              Sub AxVideoControlStart(id, add, user, pass)
                  'arguments = Split(AxCameras.value, "|")
                  camera_id = id 'CDbl(arguments(0)) - 1
                  address  = add 'arguments(1)
                  username = user 'arguments(2)
                  password = pass 'arguments(3)

                  LayoutX1 = "<?xml version='1.0' encoding='utf-8' ?>" &_
                             "<Layout xmlns='urn:VideoLayoutSchema' Name='1x1' Rows='1' Columns='1' AspectRatio=':3'>" &_
                             "<Pane Id='0' RowSpan='1' ColumnSpan='1' RowNumber='0' ColumnNumber='0' IsMasterPane='true' />" &_
                             "</Layout>"

                  LayoutX2 = "<?xml version='1.0' encoding='utf-8' ?>" &_
                             "<Layout xmlns='urn:VideoLayoutSchema' Name='2x2' Rows='2' Columns='2' AspectRatio='4:3'>" &_
                             "<Pane Id='0' RowSpan='1' ColumnSpan='1' RowNumber='0' ColumnNumber='0' IsMasterPane='true' />" &_
                             "<Pane Id='1' RowSpan='1' ColumnSpan='1' RowNumber='0' ColumnNumber='1' IsMasterPane='false' />" &_
                             "<Pane Id='2' RowSpan='1' ColumnSpan='1' RowNumber='1' ColumnNumber='0' IsMasterPane='false' />" &_
                             "<Pane Id='3' RowSpan='1' ColumnSpan='1' RowNumber='1' ColumnNumber='1' IsMasterPane='false' />" &_
                             "</Layout>"

                  LayoutX3 = "<?xml version='1.0' encoding='utf-8' ?>" &_
                             "<Layout xmlns='urn:VideoLayoutSchema' Name='3x3' Rows='3' Columns='3' AspectRatio='4:3'>" &_
                             "<Pane Id='0' RowSpan='1' ColumnSpan='1' RowNumber='0' ColumnNumber='0' IsMasterPane='true' />" &_
                             "<Pane Id='1' RowSpan='1' ColumnSpan='1' RowNumber='0' ColumnNumber='1' IsMasterPane='false' />" &_
                             "<Pane Id='2' RowSpan='1' ColumnSpan='1' RowNumber='0' ColumnNumber='2' IsMasterPane='false' />" &_
                             "<Pane Id='3' RowSpan='1' ColumnSpan='1' RowNumber='1' ColumnNumber='0' IsMasterPane='false' />" &_
                             "<Pane Id='4' RowSpan='1' ColumnSpan='1' RowNumber='1' ColumnNumber='1' IsMasterPane='false' />" &_
                             "<Pane Id='5' RowSpan='1' ColumnSpan='1' RowNumber='1' ColumnNumber='2' IsMasterPane='false' />" &_
                             "<Pane Id='6' RowSpan='1' ColumnSpan='1' RowNumber='2' ColumnNumber='0' IsMasterPane='false' />" &_
                             "<Pane Id='7' RowSpan='1' ColumnSpan='1' RowNumber='2' ColumnNumber='1' IsMasterPane='false' />" &_
                             "<Pane Id='8' RowSpan='1' ColumnSpan='1' RowNumber='2' ColumnNumber='2' IsMasterPane='false' />" &_
                             "</Layout>"

                  AxVideoControl.SetPaneLayout <%= case params[:grid_size].to_i
                                                                   when 4 then
                                                                     'LayoutX2'
                                                                   when 9 then
                                                                     'LayoutX3'
                                                                   else
                                                                     'LayoutX1'
                                                   end %>
                  <% for i in 0...(params[:grid_size].to_i || 1) %>
                    camera_id = camera_id + <%= i %>
                    AxVideoControl.MediaStreamRender <%= i %>, "wnvr://" & username & ":" & password & "@" & address & "/media/" & camera_id & "/video/0"
                  <% end %>
              End Sub

              Sub CheckUri()
                  arguments = Split(AxCameras.value, "|")
                  camera_id = CDbl(arguments(0)) - 1
                  address  = arguments(1)
                  username = arguments(2)
                  password = arguments(3)

                  MsgBox "nvr://" & username & ":" & password & "@" & address & "/media/" & camera_id & "/video/0"
              End Sub
            -->
        </script>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <table>
        <tr>
          <td colspan="3">
            <button>UP</button>
          </td>
        </tr>
        <tr>
          <td rowspan="2">
            <button>LEFT</button>
          </td>
          <td>
            <button>ZOOM IN</button>
          </td>
          <td rowspan="2">
            <button>RIGHT</button>
          </td>
        </tr>
        <tr>
          <td>
            <button>ZOOM OUT</button>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <button>DOWN</button>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<br>