<table id="home_table" border='1'>
<tr>
  <td colspan="3" style="padding: 10px;">
    <%= button_to 'Ao Vivo', home_path(session: 'live', w: params[:w], u: params[:u], token: params[:token]), disabled: params[:session] == 'live' %>
    <%= button_to 'Buscar Imagens', home_path(session: 'playback', w: params[:w], u: params[:u], token: params[:token]), disabled: params[:session] == 'playback' %>
  </td>
</tr>
<tr>
  <td colspan="1" rowspan="6">
    <div style="width: 150px; height: 480px; overflow: auto;">
      Câmeras:
      <ol class="tree">
        <% Warehouse::all.each do |warehouse| %>
            <% warehouse.servers.each do |server| %>
                <li>
                  <%#<label for="<%= server.id >"><%= server.label ></label>
                          <input type="checkbox" id="<%= server.id >>"/>%>
                  <ol>
                    <% server.cameras.each do |camera| %>
                        <li class="file">
                          <a onclick='AxVideoControlStart(<%= camera.camera_id %>, "<%= server.username %>", "<%= server.password %>", "<%= server.address %>")'><%= camera.label %></a>
                        </li>
                    <% end %>
                  </ol>
                </li>
            <% end %>
        <% end %>
      </ol>
    </div>
  </td>
  <td colspan="1" rowspan="6">
    <% if params[:session] == 'playback' %>
        <div id="playback_controls" style="text-align: center;">
          <%# CALENDAR HERE %>
          <% /^(?<date>\d+-\d+-\d+)\s(?<time>\d+)/ =~ String(Time::new) %>
          <label>
            Data: <input type="text" name="StartDate" value="<%= date %>"/>
          </label>
          <br />
          <label>
            Hora: <input type="text" name="StartTime" value="<%= time %>:00"/>
          </label>
          <br />
          <input type="button" value="Visualizar" onclick="AxVideoPlayback_Start()"/>
        </div>
    <% end %>
    <div id="video_object" style='text-align: center; padding: 5px'>
      <object classid='clsid:37BEA57F-131B-49C1-B6FB-6D9E78F41B19'
              width='640'
              height='480'
              id='AxVideoControl'
              EnableJavaScript='true'
              codebase='ADSDK.IVideoControl'>
        <p>Plugin American Dynamics SDK não foi encontrado.<br/>
          <a href='vs3_plugin_setup.zip'>Clique aqui</a> para instalá-lo.</p>
      </object>
      <script type="text/vbscript">
        <!--
                      Dim Username
                      Dim Password
                      Dim Address
                      Dim Index
                      Dim CurrentLayout
                      Dim CurrentSession
                      Dim CurrentCameras()
                      CurrentLayout = 0
                      CurrentSession = "<%= params[:session] or 'live' %>"

                      Sub AxVideoControlStart(id, user, pass, address)
                          'Username = user
                          'Password = pass
                          'Address = address
                          If CurrentLayout = 0 Then SetLayoutX1()

                          AxVideoControl.MediaStreamRender Index, "wnvr://" & user & ":" & pass & "@" & address & "/media/" & CStr(id-1) & "/video/0"

                          If CurrentLayout = 17 Then
                            n = 2
                          Else
                            n = 1
                          End If

                          If Index < (CurrentLayout - n) Then
                            Index = Index + 1
                          Else
                            Index = 0
                          'MsgBox "Array is " + CStr(Index-1) + ":" + CStr(id)
                          CurrentCameras(Index-1) = id
                      End Sub

                      Sub SetLayoutX1()
                          Layout = "<?xml version='1.0' encoding='utf-8' ?><Layout xmlns='urn:VideoLayoutSchema' Name='1x1' Rows='1' Columns='1' AspectRatio=':3'><Pane Id='0' RowSpan='1' ColumnSpan='1' RowNumber='0' ColumnNumber='0' IsMasterPane='true' /></Layout>"
                          AxVideoControl.SetPaneLayout Layout
                          Index = 0
                          CurrentLayout = 1
                          ReDim CurrentCameras(CurrentLayout)
                      End Sub

                      Sub SetLayoutX2()
                          Layout = "<?xml version='1.0' encoding='utf-8' ?><Layout xmlns='urn:VideoLayoutSchema' Name='2x2' Rows='2' Columns='2' AspectRatio='4:3'><Pane Id='0' RowSpan='1' ColumnSpan='1' RowNumber='0' ColumnNumber='0' IsMasterPane='true' /><Pane Id='1' RowSpan='1' ColumnSpan='1' RowNumber='0' ColumnNumber='1' IsMasterPane='false' /><Pane Id='2' RowSpan='1' ColumnSpan='1' RowNumber='1' ColumnNumber='0' IsMasterPane='false' /><Pane Id='3' RowSpan='1' ColumnSpan='1' RowNumber='1' ColumnNumber='1' IsMasterPane='false' /></Layout>"
                          AxVideoControl.SetPaneLayout Layout
                          Index = 0
                          CurrentLayout = 4
                          ReDim CurrentCameras(CurrentLayout)
                      End Sub

                      Sub SetLayoutX3()
                          Layout = "<?xml version='1.0' encoding='utf-8' ?><Layout xmlns='urn:VideoLayoutSchema' Name='3x3' Rows='3' Columns='3' AspectRatio='4:3'><Pane Id='0' RowSpan='1' ColumnSpan='1' RowNumber='0' ColumnNumber='0' IsMasterPane='true' /><Pane Id='1' RowSpan='1' ColumnSpan='1' RowNumber='0' ColumnNumber='1' IsMasterPane='false' /><Pane Id='2' RowSpan='1' ColumnSpan='1' RowNumber='0' ColumnNumber='2' IsMasterPane='false' /><Pane Id='3' RowSpan='1' ColumnSpan='1' RowNumber='1' ColumnNumber='0' IsMasterPane='false' /><Pane Id='4' RowSpan='1' ColumnSpan='1' RowNumber='1' ColumnNumber='1' IsMasterPane='false' /><Pane Id='5' RowSpan='1' ColumnSpan='1' RowNumber='1' ColumnNumber='2' IsMasterPane='false' /><Pane Id='6' RowSpan='1' ColumnSpan='1' RowNumber='2' ColumnNumber='0' IsMasterPane='false' /><Pane Id='7' RowSpan='1' ColumnSpan='1' RowNumber='2' ColumnNumber='1' IsMasterPane='false' /><Pane Id='8' RowSpan='1' ColumnSpan='1' RowNumber='2' ColumnNumber='2' IsMasterPane='false' /></Layout>"
                          AxVideoControl.SetPaneLayout Layout
                          Index = 0
                          CurrentLayout = 9
                          ReDim CurrentCameras(CurrentLayout)
                      End Sub

                      Sub SetLayoutX4()
                          Layout = "<?xml version='1.0' encoding='utf-8' ?><Layout xmlns='urn:VideoLayoutSchema' Name='4x4' Rows='4' Columns='4' AspectRatio='4:3'><Pane Id='0' RowSpan='1' ColumnSpan='1' RowNumber='0' ColumnNumber='0' IsMasterPane='true' /><Pane Id='1' RowSpan='1' ColumnSpan='1' RowNumber='0' ColumnNumber='1' IsMasterPane='false' /><Pane Id='2' RowSpan='1' ColumnSpan='1' RowNumber='0' ColumnNumber='2' IsMasterPane='false' /><Pane Id='3' RowSpan='1' ColumnSpan='1' RowNumber='0' ColumnNumber='3' IsMasterPane='false' /><Pane Id='4' RowSpan='1' ColumnSpan='1' RowNumber='1' ColumnNumber='0' IsMasterPane='false' /><Pane Id='5' RowSpan='1' ColumnSpan='1' RowNumber='1' ColumnNumber='1' IsMasterPane='false' /><Pane Id='6' RowSpan='1' ColumnSpan='1' RowNumber='1' ColumnNumber='2' IsMasterPane='false' /><Pane Id='7' RowSpan='1' ColumnSpan='1' RowNumber='1' ColumnNumber='3' IsMasterPane='false' /><Pane Id='8' RowSpan='1' ColumnSpan='1' RowNumber='2' ColumnNumber='0' IsMasterPane='false' /><Pane Id='9' RowSpan='1' ColumnSpan='1' RowNumber='2' ColumnNumber='1' IsMasterPane='false' /><Pane Id='10' RowSpan='1' ColumnSpan='1' RowNumber='2' ColumnNumber='2' IsMasterPane='false' /><Pane Id='11' RowSpan='1' ColumnSpan='1' RowNumber='2' ColumnNumber='3' IsMasterPane='false' /><Pane Id='12' RowSpan='1' ColumnSpan='1' RowNumber='3' ColumnNumber='0' IsMasterPane='false' /><Pane Id='13' RowSpan='1' ColumnSpan='1' RowNumber='3' ColumnNumber='1' IsMasterPane='false' /><Pane Id='14' RowSpan='1' ColumnSpan='1' RowNumber='3' ColumnNumber='2' IsMasterPane='false' /><Pane Id='15' RowSpan='1' ColumnSpan='1' RowNumber='3' ColumnNumber='3' IsMasterPane='false' /></Layout>"
                          AxVideoControl.SetPaneLayout Layout
                          Index = 0
                          CurrentLayout = 16
                          ReDim CurrentCameras(CurrentLayout)
                      End Sub

                      Sub SetLayoutX2p8()
                          Layout = "<?xml version='1.0' encoding='utf-8' ?><Layout xmlns='urn:VideoLayoutSchema' Name='1+8' Rows='4' Columns='4' AspectRatio='4:3'><Pane Id='0' RowSpan='2' ColumnSpan='2' RowNumber='0' ColumnNumber='0' IsMasterPane='true' /><Pane Id='1' RowSpan='2' ColumnSpan='2' RowNumber='0' ColumnNumber='2' IsMasterPane='false' /><Pane Id='2' RowSpan='1' ColumnSpan='1' RowNumber='2' ColumnNumber='0' IsMasterPane='false' /><Pane Id='3' RowSpan='1' ColumnSpan='1' RowNumber='2' ColumnNumber='1' IsMasterPane='false' /><Pane Id='4' RowSpan='1' ColumnSpan='1' RowNumber='2' ColumnNumber='2' IsMasterPane='false' /><Pane Id='5' RowSpan='1' ColumnSpan='1' RowNumber='2' ColumnNumber='3' IsMasterPane='false' /><Pane Id='6' RowSpan='1' ColumnSpan='1' RowNumber='3' ColumnNumber='0' IsMasterPane='false' /><Pane Id='7' RowSpan='1' ColumnSpan='1' RowNumber='3' ColumnNumber='1' IsMasterPane='false' /><Pane Id='8' RowSpan='1' ColumnSpan='1' RowNumber='3' ColumnNumber='2' IsMasterPane='false' /><Pane Id='9' RowSpan='1' ColumnSpan='1' RowNumber='3' ColumnNumber='3' IsMasterPane='false' /></Layout>"
                          AxVideoControl.SetPaneLayout Layout
                          Index = 0
                          CurrentLayout = 17
                          ReDim CurrentCameras(CurrentLayout)
                      End Sub

                      Sub SetLayoutX1p12()
                          Layout = "<?xml version='1.0' encoding='utf-8' ?><Layout xmlns='urn:VideoLayoutSchema' Name='1+12' Rows='4' Columns='4' AspectRatio='4:3'><Pane Id='0' RowSpan='2' ColumnSpan='2' RowNumber='0' ColumnNumber='0' IsMasterPane='true' /><Pane Id='1' RowSpan='1' ColumnSpan='1' RowNumber='0' ColumnNumber='2' IsMasterPane='false' /><Pane Id='2' RowSpan='1' ColumnSpan='1' RowNumber='0' ColumnNumber='3' IsMasterPane='false' /><Pane Id='3' RowSpan='1' ColumnSpan='1' RowNumber='1' ColumnNumber='2' IsMasterPane='false' /><Pane Id='4' RowSpan='1' ColumnSpan='1' RowNumber='1' ColumnNumber='3' IsMasterPane='false' /><Pane Id='5' RowSpan='1' ColumnSpan='1' RowNumber='2' ColumnNumber='0' IsMasterPane='false' /><Pane Id='6' RowSpan='1' ColumnSpan='1' RowNumber='2' ColumnNumber='1' IsMasterPane='false' /><Pane Id='7' RowSpan='1' ColumnSpan='1' RowNumber='2' ColumnNumber='2' IsMasterPane='false' /><Pane Id='8' RowSpan='1' ColumnSpan='1' RowNumber='2' ColumnNumber='3' IsMasterPane='false' /><Pane Id='9' RowSpan='1' ColumnSpan='1' RowNumber='3' ColumnNumber='0' IsMasterPane='false' /><Pane Id='10' RowSpan='1' ColumnSpan='1' RowNumber='3' ColumnNumber='1' IsMasterPane='false' /><Pane Id='11' RowSpan='1' ColumnSpan='1' RowNumber='3' ColumnNumber='2' IsMasterPane='false' /><Pane Id='12' RowSpan='1' ColumnSpan='1' RowNumber='3' ColumnNumber='3' IsMasterPane='false' /></Layout>"
                          AxVideoControl.SetPaneLayout Layout
                          Index = 0
                          CurrentLayout = 13
                          ReDim CurrentCameras(CurrentLayout)
                      End Sub

                      Sub ResetLayout()
                        If CurrentLayout = 4 Then
                            SetLayoutX2()
                        Elseif CurrentLayout = 9 Then
                            SetLayoutX3()
                        Elseif CurrentLayout = 16 Then
                            SetLayoutX4()
                        Elseif CurrentLayout = 17 Then
                            SetLayoutX2p8()
                        Elseif CurrentLayout = 13 Then
                            SetLayoutX1p12()
                        Else
                            SetLayoutX1()
                        End If
                      End Sub

                      Sub AxVideoPlayback_Start()
                          startDateTime = Replace(StartDate.Value, "-", "") & Replace(StartTime.Value, ":", "") & "0200"
                          Set vidControlEx = AxVideoControl.GetInterface("ADSDK.IStreamingPlayback")

                          If CurrentLayout = 17 Then
                            n = 2
                          Else
                            n = 1
                          End If

                          'For i = 0 To CurrentLayout-n
                            streamUri = "nvr://" & Username & ":" & Password & "@" & Address & "/media/" & CStr(CurrentCameras(0)-1) & "/video/0"
                            vidControlEx.OpenStreamEx i, streamUri, startDateTime, false, false, 10000
                            vidControlEx = NULL
                          'Next
                      End Sub

                      <%#Sub SaveGrid()
                        'input = InputBox( "Favor inserir um nome para o mosaico:", "Salvar mosaico" )
                        input = "MyMosaic"

                        Dim CameraList
                        For i = 0 To CurrentLayout-1
                            CameraList = CameraList + CStr(i) + "," + CStr(CurrentCameras(i)) + ";"
                            'MsgBox CurrentCameras(i)
                        Next

                        'MsgBox "http://177.0.200.3:3000/?save=true&input=" + input + "&layout=" + CStr(CurrentLayout) + "&view=" + CurrentSession + "&cameras=" + CameraList


                        Response.Redirect( "http://177.0.200.3:3000/?save=true&input=" + input + "&layout=" + CStr(CurrentLayout) + "&view=" + CurrentSession + "&cameras=" + CameraList )

                      End Sub%>
                    -->
      </script>
      <br>
      <button onclick="ResetLayout()">Limpar mosaico</button>
    </div>
  </td>
  <td>
    <button id="grid_1" onclick="SetLayoutX1()">1x1</button>
  </td>
</tr>
<tr>
  <td>
    <button <%= 'disabled' if params[:session] == 'playback' %> id="grid_4" onclick="SetLayoutX2()">2x2</button>
  </td>
</tr>
<tr>
  <td>
    <button <%= 'disabled' if params[:session] == 'playback' %> id="grid_9" onclick="SetLayoutX3()">3x3</button>
  </td>
</tr>
<tr>
  <td>
    <button <%= 'disabled' if params[:session] == 'playback' %> id="grid_16" onclick="SetLayoutX4()">4x4</button>
  </td>
</tr>
<tr>
  <td>
    <button <%= 'disabled' if params[:session] == 'playback' %> id="grid_2+8" onclick="SetLayoutX2p8()">2+8</button>
  </td>
</tr>
<tr>
  <td>
    <button <%= 'disabled' if params[:session] == 'playback' %> id="grid_1+12" onclick="SetLayoutX1p12()">1+12</button>
  </td>
</tr>
</table>

<br>