<script type="text/javascript">
    function openit() {
        newwindow = window.open('instructions.htm', 'Instruçoes de instalaçao do plugin.', 'height=400,width=300')
        if (window.focus())
            newwindow.focus()
    }
</script>

<% if @warehouse %>
    <%= form_tag('/live', method: 'get') do %>
        <%= hidden_field_tag 'w', params[:w] %>
        <%= hidden_field_tag 'u', params[:u] %>
        <%= hidden_field_tag 'token', params[:token] %>
        <%= label_tag 'Mosaico' %>
        <label>
          <select name="grid_size" onchange="">
            <option value="1">1x1</option>
            <option value="4">2x2</option>
            <!--<option value="9">3x3</option>-->
          </select>
        </label>
        <br>
        <%= submit_tag 'Aplicar' %>
    <% end %>
    <br>
    <table>
      <tr>
        <% for i in 0...(params[:grid_size] || 1).to_i %>
            <td>
              <label>
                <select name="AxCameras_<%= i + 1 %>" onchange="AxVideoControl_<%= i + 1 %>_Start()">
                  <option value="">Selecione uma câmera.</option>
                  <% @warehouse.servers.each do |server| %>
                      <% server.cameras.each do |camera| %>
                          <option value="<%= camera.camera_id %>|<%= server.address %>|<%= server.username %>|<%= server.password %>"><%= camera.label %></option>
                      <% end %>
                  <% end %>
                </select>
              </label>

              <!--
              <button onclick="CheckUri()">Check URI</button>
              -->

              <br>
              <object classid='clsid:37BEA57F-131B-49C1-B6FB-6D9E78F41B19'
                      height='<%= 480 / (params[:grid_size] == '4' ? 2 : 1) %>'
                      width='<%= 640 / (params[:grid_size] == '4' ? 2 : 1) %>'
                      id='AxVideoControl_<%= i + 1 %>'
                      EnableJavaScript='true'
                      codebase='ADSDK.IVideoControl'>
                <p>Plugin American Dynamics SDK não foi encontrado.<br/>
                  <a href='vs3_plugin_setup.exe'>Clique aqui</a> para instalá-lo.</p>
              </object>
              <script type="text/vbscript">
                <!--
                    Sub AxVideoControl_<%= i + 1 %>_Start()
                        arguments = Split(AxCameras_<%= i + 1 %>.value, "|")
                        camera_id = CDbl(arguments(0)) - 1
                        address  = arguments(1)
                        username = arguments(2)
                        password = arguments(3)

                        AxVideoControl_<%= i + 1 %>.SetPaneLayout "<?xml version='1.0' encoding='utf-8' ?><Layout xmlns='urn:VideoLayoutSchema' Name='1x1' Rows='1' Columns='1' AspectRatio='4:3'><Pane Id='0' RowSpan='1' ColumnSpan='1' RowNumber='0' ColumnNumber='0' IsMasterPane='true'/></Layout>"
                        AxVideoControl_<%= i + 1 %>.MediaStreamRender 0, "nvr://" & username & ":" & password & "@" & address & "/media/" & camera_id & "/video/0"
                        'AxVideoControl_<%= i + 1 %>.resize
                    End Sub

                    Sub CheckUri()
                        arguments = Split(AxCameras_<%= i + 1 %>.value, "|")
                        camera_id = CDbl(arguments(0)) - 1
                        address  = arguments(1)
                        username = arguments(2)
                        password = arguments(3)

                        MsgBox "nvr://" & username & ":" & password & "@" & address & "/media/" & camera_id & "/video/0"

                    End Sub
                  -->
              </script>
            </td>
            <% if i > 0 and i == (params[:grid_size].to_i / 2) - 1 %>
                </tr>
                <tr>
            <% end %>
        <% end %>
        </tr>
        </table>
<% else %>
    <p>Servidor não existe no banco de dados!</p>
<% end %>