<h1>Listing cameras</h1>

<table style="text-align: center;">
  <tr>
    <th>Label</th>
    <th>Camera</th>
    <th>Server</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @cameras.each do |camera| %>
      <tr>
        <!--<td><%= check_box_tag :checked %></td>-->
        <td><%= camera.label %></td>
        <td><%= camera.camera_id %></td>
        <td><%= Server::find_by_id(camera.server_id).label %> (#<%= camera.server_id %>)</td>
        <td><%= button_to 'Show', camera, method: :get %></td>
        <td><%= button_to 'Edit', edit_camera_path(camera), method: :get %></td>
        <td><%= button_to 'Destroy', camera, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
</table>

<br/>

<table>
  <tr>
    <td>
      <%= button_to 'New Camera', new_camera_path, method: :get %>
    </td>
    <td>
      <%= button_to 'Return', admin_path, method: :get %>
    </td>
  </tr>
</table>
