<p id="notice"><%= notice %></p>

<p>
  <b>Label:</b>
  <%= @camera.label %>
</p>

<p>
  <b>Camera:</b>
  <%= @camera.camera_id %>
</p>

<p>
  <b>Server:</b>
  <%= @camera.server_id %>
</p>


<%= link_to 'Edit', edit_camera_path(@camera) %> |
<%= link_to 'Back', cameras_path %>
