<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @camera.label %>
</p>

<p>
  <b>Câmera:</b>
  <%= @camera.camera_id %>
</p>

<p>
  <b>Servidor:</b>
  <%= Server::find_by_id(@camera.server_id).label rescue 'NIL' %> (#<%= @camera.server_id %>)
</p>

<table>
  <tr>
    <td>
      <%= button_to 'Editar', edit_camera_path(@camera), method: :get %>
    </td>
    <td>
      <%= button_to 'Voltar', cameras_path, method: :get %>
    </td>
  </tr>
</table>
