<h3>Listando armazém</h3>

<table style="text-align: center;">
  <tr>
    <th>Nome</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% Warehouse::all.each do |warehouse| %>
      <tr>
        <td><%= warehouse.label %></td>
        <td><%= button_to 'Mostrar', warehouse, method: :get %></td>
        <td><%= button_to 'Editar', edit_warehouse_path(warehouse), method: :get %></td>
        <td><%= button_to 'Apagar', warehouse, method: :delete, data: {confirm: 'Tem certeza?'} %></td>
      </tr>
  <% end %>
</table>

<br/>

<table>
  <tr>
    <td>
      <%= button_to 'Novo armazém', new_warehouse_path, method: :get %>
    </td>
    <td>
      <%= button_to 'Retornar', admin_path, method: :get %>
    </td>
  </tr>
</table>
