<!DOCTYPE html>
<html>
<head>
  <title>Video Server 3<%= " : #{@warehouse.label}" if @warehouse %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id='header'>
  <a href="http://www.rochalog.com.br/"><%= image_tag 'logo_ib.jpg', id: 'image', align: 'left' %></a>
  <a href="http://www.ibtecnologia.com.br/"><%= image_tag 'rocha_logo.gif', id: 'image', align: 'right' %></a>

  <h1><%= "Administração" or @warehouse.label %></h1>
  <h2><%= live? ? 'Visualizando vídeo ao vivo.' : 'Visualizando vídeo armazenado.' %></h2>
</div>

<div id="contents" style="text-align: center;">
  <%= yield %>
</div>

<div id='footer'>
  <p><a href="mailto:fabioalmeida@ibtecnologia.com.br">Contato com o administrador</a><br/>
    Video Server 3.20β
    &copy; 2012-2013 IB Tecnologia & Sistemas LTDA</p>
</div>

</body>
</html>
